@font-face {
    font-family: 'Baskerville Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville Normal'), url('baskvl.woff') format('woff');
}

:root {
    --gray:   #656565;
    --light:  #E2E0E0;
    --red:    #F00D0D;
    --white:  #FFFFFF;

    --line-height: 48px;
    --image-area-side: 96px;
    --vt-pad: 8px;
    --input-height: 32px;
    --left-pad: 4px;
    --frame-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baskerville Normal';
}

.button--save {
    cursor: pointer;
    color: #fff;
    background-color: #008800;
    height: 32px; /*var(--line-height);*/
    border-radius: 16px;
    border: 1px solid transparent;
    text-align: center;
}

.button--save:hover {
    background-color: #00c800;
}

.button--save:active {
    outline: none;
    border-color: rgba(0,0,0, 0.5);
}

